* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.main{
    position: relative;
    overflow: hidden;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}

.nav>h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    background-color: black;
    border: none;
}

.page{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #f1f1f1;
}